<table class="striped">
    <tbody>
        <tr>
            <td colspan="2">UKURAN</td>
            <td colspan="2">TIPE</td>
        </tr>
        <tr>
            <td>INCH</td>
            <td>MM</td>
            <td>AW</td>
            <td>D</td>
        </tr>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 16.800</td>
            <td>–</td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 23.000</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 27.800</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1 1/4″</td>
            <td>42</td>
            <td>Rp 40.900</td>
            <td>Rp 28.100</td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>48</td>
            <td>Rp 49.200</td>
            <td>Rp 31.900</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 66.600</td>
            <td>Rp 46.500</td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>76</td>
            <td>Rp 95.800</td>
            <td>Rp 61.600</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 172.700</td>
            <td>Rp 72.800</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 239.800</td>
            <td>Rp 103.700</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 313.200</td>
            <td>Rp 202.600</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 505.700</td>
            <td>Rp 227.500</td>
        </tr>
    </tbody>
</table>