<table class="striped">
    <thead>
        <tr>
            <td colspan="2">Diameter</td>
            <td colspan="2">Tipe</td>
        </tr>
        <tr>
            <td>Inch</td>
            <td>mm</td>
            <td>AW</td>
            <td>D</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 23.300</td>
            <td>–</td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 31.700</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 43.300</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1-1/4″</td>
            <td>42</td>
            <td>Rp 64.800</td>
            <td>Rp 40.700</td>
        </tr>
        <tr>
            <td>1-1/2″</td>
            <td>48</td>
            <td>Rp 74.400</td>
            <td>Rp 46.000</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 95.200</td>
            <td>Rp 59.000</td>
        </tr>
        <tr>
            <td>2-1/2″</td>
            <td>76</td>
            <td>Rp 138.900</td>
            <td>Rp 79.700</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 195.600</td>
            <td>Rp 105.800</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 324.100</td>
            <td>Rp 166.400</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 513.500</td>
            <td>Rp 256.300</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 720.200</td>
            <td>Rp 338.100</td>
        </tr>
        <tr>
            <td>8″</td>
            <td>216</td>
            <td>Rp 1.208.600</td>
            <td>Rp 594.600</td>
        </tr>
        <tr>
            <td>10″</td>
            <td>267</td>
            <td>Rp 1.868.800</td>
            <td>Rp 979.400</td>
        </tr>
        <tr>
            <td>12″</td>
            <td>318</td>
            <td>Rp 2.635.000</td>
            <td>Rp 1.374.800</td>
        </tr>
        <tr>
            <td colspan="4">
                <ul>
                    <li>Panjang pipa <strong>4 meter</strong> per batang</li>
                    <li>Warna pipa = <strong>PUTIH</strong></li>
                    <li>Standar pipa kelas AW tekanan kerja 10 Kg / Cm<sup>2</sup></li>
                    <li>Standar pipa kelas D tekanan kerja 5 Kg / Cm<sup>2</sup></li>
                    <li>Pipa <strong>dengan socket</strong>/mof di ujung pipa</li>
                    <li>Perubahan harga dapat terjadi tanpa pemberitahuan terlebih dahulu</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>