<table class="striped">
    <thead>
        <tr>
            <td colspan="2">Diameter</td>
            <td rowspan="2">AW</td>
            <td rowspan="2">D</td>
        </tr>
        <tr>
            <td>Inch</td>
            <td>mm</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 21.700</td>
            <td></td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 30.500</td>
            <td></td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 42.200</td>
            <td></td>
        </tr>
        <tr>
            <td>1 1/4″</td>
            <td>42</td>
            <td>Rp 61.300</td>
            <td>Rp 38.600</td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>48</td>
            <td>Rp 71.900</td>
            <td>Rp 44.800</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 92.800</td>
            <td>Rp 57.000</td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>76</td>
            <td>Rp 134.300</td>
            <td>Rp 76.600</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 196.000</td>
            <td>Rp 106.400</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 317.400</td>
            <td>Rp 163.900</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 493.400</td>
            <td>Rp 251.400</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 676.800</td>
            <td>Rp 342.900</td>
        </tr>
        <tr>
            <td>8″</td>
            <td>216</td>
            <td>Rp 1.147.000</td>
            <td>Rp 615.900</td>
        </tr>
        <tr>
            <td>10″</td>
            <td>267</td>
            <td>Rp 1.721.400</td>
            <td>Rp 953.200</td>
        </tr>
        <tr>
            <td>12″</td>
            <td>318</td>
            <td>Rp 2.489.900</td>
            <td>Rp 1.375.000</td>
        </tr>
        <tr>
            <td colspan="4">* Panjang pipa <strong>4 meter</strong> per batang<br>
                * Warna pipa = <strong>PUTIH</strong><br>
                * Pipa <strong>dengan socket</strong>/mof di ujung pipa<br>
                * Perubahan harga dapat terjadi tanpa pemberitahuan terlebih dahulu</td>
        </tr>
    </tbody>
</table>