<table class="striped">
    <tbody>
        <tr>
            <td><strong>UKURAN</strong></td>
            <td><strong>TEBAL</strong></td>
            <td><strong>HARGA</strong></td>
        </tr>
        <tr>
            <td>Pipa Besi Hitam 1/2 Inch</td>
            <td>2,63 mm</td>
            <td>Rp. 122.000</td>
        </tr>
        <tr>
            <td>Pipa Besi Hitam 1 Inch</td>
            <td>3,20 mm</td>
            <td>
                Rp. 239.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Hitam 1½ Inch</td>
            <td>3,50 mm</td>
            <td>
                Rp. 386.000
                
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Hitam 2½ Inch</td>
            <td>4,90 mm</td>
            <td>
                Rp. 820.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Hitam 4 Inch</td>
            <td>5,70 mm</td>
            <td>
                Rp. 1.519.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Hitam 6 Inch</td>
            <td>6,70 mm</td>
            <td>
                Rp. 2.657.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Hitam 3/4 Inch</td>
            <td>2,72 mm</td>
            <td>
                Rp. 161.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Hitam 1¼ Inch</td>
            <td>3,40 mm</td>
            <td>
                Rp. 324.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Hitam 2 Inch</td>
            <td>3,70 mm</td>
            <td>
                Rp. 515.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Hitam 3 Inch</td>
            <td>5,20 mm</td>
            <td>
                Rp. 1.069.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Hitam 5 Inch</td>
            <td>6,20 mm</td>
            <td>
                Rp. 2.056.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Hitam 8 Inch</td>
            <td>7,80 mm</td>
            <td>
                Rp. 4.061.000
            </td>
        </tr>
    </tbody>
</table>