<table class="striped">
    <tbody>
        <tr>
            <td><strong>UKURAN</strong></td>
            <td><strong>TEBAL</strong></td>
            <td><strong>HARGA</strong></td>
        </tr>
        <tr>
            <td>Pipa Galvanis 1/2 Inch</td>
            <td>2,63 mm</td>
            <td>Rp. 170.000</td>
        </tr>
        <tr>
            <td>Pipa Galvanis 1 Inch</td>
            <td>3,20 mm</td>
            <td>
                Rp. 333.000
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis 1½ Inch</td>
            <td>3,50 mm</td>
            <td>
                Rp. 540.000
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis 2½ Inch</td>
            <td>4,90 mm</td>
            <td>
                Rp. 1.147.000
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis 4 Inch</td>
            <td>5,70 mm</td>
            <td>
                Rp. 2.127.000
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis 6 Inch</td>
            <td>6,70 mm</td>
            <td>
                Rp. 3.720.000
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis 3/4 Inch</td>
            <td>2,72 mm</td>
            <td>
                Rp. 226.000
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis 1¼ Inch</td>
            <td>3,40 mm</td>
            <td>
                Rp. 454.000
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis 2 Inch</td>
            <td>3,70 mm</td>
            <td>
                Rp. 720.000
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis 3 Inch</td>
            <td>5,20 mm</td>
            <td>
                Rp. 1.496.000
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis 5 Inch</td>
            <td>6,20 mm</td>
            <td>
                Rp. 2.879.000
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis 8 Inch</td>
            <td>7,80 mm</td>
            <td>
                Rp. 5.708.000
            </td>
        </tr>
    </tbody>
</table>