<table class="striped">
    <tbody>
        <tr>
            <td><strong>UKURAN</strong></td>
            <td><strong>TEBAL</strong></td>
            <td><strong>HARGA</strong></td>
        </tr>
        <tr>
            <td>Pipa Galvanis Medium 1/2 Inch</td>
            <td>2,45 mm</td>
            <td>Rp. 165.000</td>
        </tr>
        <tr>
            <td>Pipa Galvanis Medium 1 Inch</td>
            <td>3,0 mm</td>
            <td>
                Rp. 322.000</p>
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis Medium 1½ Inch</td>
            <td>3,10 mm</td>
            <td>
                Rp. 489.000</p>
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis Medium 2½ Inch</td>
            <td>3,40 mm</td>
            <td>
                Rp. 849.000</p>
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis Medium 4 Inch</td>
            <td>4,20 mm</td>
            <td>
                Rp. 1.587.000</p>
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis Medium 6 Inch</td>
            <td>4,60 mm</td>
            <td>
                Rp. 2.542.000</p>
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis Medium 3/4 Inch</td>
            <td>2,45 mm</td>
            <td>
                Rp. 211.000</p>
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis Medium 1¼ Inch</td>
            <td>3,10 mm</td>
            <td>
                Rp. 425.000</p>
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis Medium 2 Inch</td>
            <td>3,40 mm</td>
            <td>
                Rp. 666.000</p>
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis Medium 3 Inch</td>
            <td>3,75 mm</td>
            <td>
                Rp. 1.097.000</p>
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis Medium 5 Inch</td>
            <td>4,60 mm</td>
            <td>
                Rp. 2.135.000</p>
            </td>
        </tr>
        <tr>
            <td>Pipa Galvanis Medium 8 Inch</td>
            <td>6,10 mm</td>
            <td>
                Rp. 4.501.000</p>
            </td>
        </tr>
    </tbody>
</table>