<table class="striped">
    <tbody>
        <tr>
            <td><strong>UKURAN </strong></td>
            <td><strong>TEBAL</strong></td>
            <td><strong>HARGA</strong></td>
        </tr>
        <tr>
            <td>Pipa Besi Medium 1/2 Inch</td>
            <td>2,45 mm</td>
            <td>Rp. 116.000</td>
        </tr>
        <tr>
            <td>Pipa Besi Medium 3/4 Inch</td>
            <td>2,45 mm</td>
            <td>
                Rp. 150.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Medium 1 Inch</td>
            <td>3,0 mm</td>
            <td>
                Rp. 229.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Medium 1¼ Inch</td>
            <td>3,10 mm</td>
            <td>
                Rp. 302.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Medium 1½ Inch</td>
            <td>3,10 mm</td>
            <td>
                Rp. 347.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Medium 2 Inch</td>
            <td>3,40 mm</td>
            <td>
                Rp. 474.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Medium 2½ Inch</td>
            <td>3,40 mm</td>
            <td>
                Rp. 603.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Medium 3 Inch</td>
            <td>3,75 mm</td>
            <td>
                Rp. 779.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Medium 4 Inch</td>
            <td>4,20 mm</td>
            <td>
                Rp. 1.127.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Medium 5 Inch</td>
            <td>4,60 mm</td>
            <td>
                Rp. 1.515.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Medium 6 Inch</td>
            <td>4,60 mm</td>
            <td>
                Rp. 1.806.000
            </td>
        </tr>
        <tr>
            <td>Pipa Besi Medium 8 Inch</td>
            <td>6,10 mm</td>
            <td>
                Rp. 3.202.000
            </td>
        </tr>
    </tbody>
</table>