{{ partial "header" . }}

{{ partial "top-search" .}}

<section class="dir-alp dir-pa-sp-top">
	<div class="container">
		<div class="row">
			<div class="dir-alp-tit">
				<h1>{{ .Params.listTitle }}</h1>
			</div>
			<div style="height: 30px;"></div>
		</div>
		<div class="row">
			<div class="dir-alp-con">
				<div class="col-md-8 dir-alp-con-right">
					<div class="dir-alp-con-right-1">
						<div class="row">
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s10.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Harga Pipa PVC Terbaru 2020</h3>
									</a>
									<h4>Rucika, Wavin, Pralon, Vinilon, Intilon, Signature, Pacific, Champion, Pipamas, Power</h4>
									<p><b>Supplier: </b> PT Nusa Karya Rajawali</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> 021 - 7447 983</li>
											<li><img src="images/icon/mail.png" alt=""> sales.nkr@gmail.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-whatsapp" aria-hidden="true"></i>Whatsapp</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Telpon</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Minta Penawaran</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s1.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Effi Furniture Dealers</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s2.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>NIID Job Training</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s3.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Computer Repair & Services</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s4.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Packers and Movers</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s5.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Tour and Travels</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s6.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Andru Modular Kitchen</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s7.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Rute Skin Care & Treatment</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s6.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Health and Fitness</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s10.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Property Luxury Homes</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s1.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Effi Furniture Dealers</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s2.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>NIID Job Training</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s3.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Computer Repair & Services</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s4.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Packers and Movers</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s5.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Tour and Travels</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s6.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Andru Modular Kitchen</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s7.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Rute Skin Care & Treatment</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<div class="col-md-3 list-ser-img"> <img src="images/services/s6.jpg" alt="" />
								</div>
								<!--LISTINGS: CONTENT-->
								<div class="col-md-9 home-list-pop-desc inn-list-pop-desc"> <a
										href="listing-details.html">
										<h3>Health and Fitness</h3>
									</a>
									<h4>Express Avenue Mall, Los Angeles</h4>
									<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
									</p>
									<div class="list-number">
										<ul>
											<li><img src="images/icon/phone.png" alt=""> +01 1245 2541, +62 6541
												6528</li>
											<li><img src="images/icon/mail.png" alt=""> localdir@webdir.com</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-star-o" aria-hidden="true"></i> Write
													Review</a> </li>
											<li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i>
													Send SMS</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Call
													Now</a> </li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Get Quotes</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
						</div>
						<div class="row">
							<ul class="pagination list-pagenat">
								<li class="disabled"><a href="#!!"><i class="material-icons">chevron_left</i></a>
								</li>
								<li class="active"><a href="#!">1</a> </li>
								<li class="waves-effect"><a href="#!">2</a> </li>
								<li class="waves-effect"><a href="#!">3</a> </li>
								<li class="waves-effect"><a href="#!">4</a> </li>
								<li class="waves-effect"><a href="#!">5</a> </li>
								<li class="waves-effect"><a href="#!">6</a> </li>
								<li class="waves-effect"><a href="#!">7</a> </li>
								<li class="waves-effect"><a href="#!">8</a> </li>
								<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 dir-alp-con-left">
					<div class="dir-alp-con-left-1">
						<h3>Nearby Listings(07)</h3>
					</div>
					<div class="dir-hom-pre dir-alp-left-ner-notb">
						<ul>
							<!--==========NEARBY LISTINGS============-->
							<li>
								<a href="listing-details.html">
									<div class="list-left-near lln1"> <img src="images/services/s1.jpg" alt="" />
									</div>
									<div class="list-left-near lln2">
										<h5>Property Getaways</h5> <span>City: illunois, United States</span>
									</div>
									<div class="list-left-near lln3"> <span>5.0</span> </div>
								</a>
							</li>
							<!--==========END NEARBY LISTINGS============-->
							<!--==========NEARBY LISTINGS============-->
							<li>
								<a href="listing-details.html">
									<div class="list-left-near lln1"> <img src="images/services/s2.jpg" alt="" />
									</div>
									<div class="list-left-near lln2">
										<h5>Home Trends</h5> <span>City: illunois, United States</span>
									</div>
									<div class="list-left-near lln3"> <span>4.0</span> </div>
								</a>
							</li>
							<!--==========END NEARBY LISTINGS============-->
							<!--==========NEARBY LISTINGS============-->
							<li>
								<a href="listing-details.html">
									<div class="list-left-near lln1"> <img src="images/services/s3.jpg" alt="" />
									</div>
									<div class="list-left-near lln2">
										<h5>Security System</h5> <span>City: illunois, United States</span>
									</div>
									<div class="list-left-near lln3"> <span>4.4</span> </div>
								</a>
							</li>
							<!--==========END NEARBY LISTINGS============-->
							<!--==========NEARBY LISTINGS============-->
							<li>
								<a href="listing-details.html">
									<div class="list-left-near lln1"> <img src="images/services/s4.jpg" alt="" />
									</div>
									<div class="list-left-near lln2">
										<h5>Distance Educations</h5> <span>City: illunois, United States</span>
									</div>
									<div class="list-left-near lln3"> <span>3.8</span> </div>
								</a>
							</li>
							<!--==========END NEARBY LISTINGS============-->
							<!--==========NEARBY LISTINGS============-->
							<li>
								<a href="listing-details.html">
									<div class="list-left-near lln1"> <img src="images/services/s5.jpg" alt="" />
									</div>
									<div class="list-left-near lln2">
										<h5>Fresh Cake Shops</h5> <span>City: illunois, United States</span>
									</div>
									<div class="list-left-near lln3"> <span>4.8</span> </div>
								</a>
							</li>
							<!--==========END NEARBY LISTINGS============-->
							<!--==========NEARBY LISTINGS============-->
							<li>
								<a href="listing-details.html">
									<div class="list-left-near lln1"> <img src="images/services/s6.jpg" alt="" />
									</div>
									<div class="list-left-near lln2">
										<h5>Chicago Automobiles</h5> <span>City: illunois, United States</span>
									</div>
									<div class="list-left-near lln3"> <span>5.0</span> </div>
								</a>
							</li>
							<!--==========END NEARBY LISTINGS============-->
							<!--==========NEARBY LISTINGS============-->
							<li>
								<a href="listing-details.html">
									<div class="list-left-near lln1"> <img src="images/services/s7.jpg" alt="" />
									</div>
									<div class="list-left-near lln2">
										<h5>Bike Service Centers</h5> <span>City: illunois, United States</span>
									</div>
									<div class="list-left-near lln3"> <span>5.0</span> </div>
								</a>
							</li>
							<!--==========END NEARBY LISTINGS============-->
						</ul>
					</div>
					<!--==========Sub Category Filter============-->
					<div class="dir-alp-l3 dir-alp-l-com">
						<h4>Sub Category Filter</h4>
						<div class="dir-alp-l-com1 dir-alp-p3">
							<form action="#">
								<ul>
									<li>
										<input type="checkbox" id="scf1" />
										<label for="scf1">Hortels & Resorts</label>
									</li>
									<li>
										<input type="checkbox" id="scf2" />
										<label for="scf2">Fitness Care</label>
									</li>
									<li>
										<input type="checkbox" id="scf3" />
										<label for="scf3">Educations</label>
									</li>
									<li>
										<input type="checkbox" id="scf4" />
										<label for="scf4">Property</label>
									</li>
									<li>
										<input type="checkbox" id="scf5" />
										<label for="scf5">Home Services</label>
									</li>
								</ul>
							</form> <a href="#!" class="list-view-more-btn">view more</a>
						</div>
					</div>
					<!--==========End Sub Category Filter============-->
					<!--==========Sub Category Filter============-->
					<div class="dir-alp-l3 dir-alp-l-com">
						<h4>Distance</h4>
						<div class="dir-alp-l-com1 dir-alp-p3">
							<form>
								<ul>
									<li>
										<input class="with-gap" name="group1" type="radio" id="ldis1" />
										<label for="ldis1">00 to 02km</label>
									</li>
									<li>
										<input class="with-gap" name="group1" type="radio" id="ldis2" />
										<label for="ldis2">02 to 05km</label>
									</li>
									<li>
										<input class="with-gap" name="group1" type="radio" id="ldis3" />
										<label for="ldis3">05 to 10km</label>
									</li>
									<li>
										<input class="with-gap" name="group1" type="radio" id="ldis4" />
										<label for="ldis4">10 to 20km</label>
									</li>
									<li>
										<input class="with-gap" name="group1" type="radio" id="ldis5" />
										<label for="ldis5">20 to 30km</label>
									</li>
								</ul>
							</form> <a href="#!" class="list-view-more-btn">view more</a>
						</div>
					</div>
					<!--==========End Sub Category Filter============-->
					<!--==========Sub Category Filter============-->
					<div class="dir-alp-l3 dir-alp-l-com">
						<h4>Ratings</h4>
						<div class="dir-alp-l-com1 dir-alp-p3">
							<form>
								<ul>
									<li>
										<input type="checkbox" class="filled-in" id="lr1" />
										<label for="lr1"> <span class="list-rat-ch"> <span>5.0</span> <i
													class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
													aria-hidden="true"></i> <i class="fa fa-star"
													aria-hidden="true"></i> <i class="fa fa-star"
													aria-hidden="true"></i> <i class="fa fa-star"
													aria-hidden="true"></i> </span>
										</label>
									</li>
									<li>
										<input type="checkbox" class="filled-in" id="lr2" />
										<label for="lr2"> <span class="list-rat-ch"> <span>4.0</span> <i
													class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
													aria-hidden="true"></i> <i class="fa fa-star"
													aria-hidden="true"></i> <i class="fa fa-star"
													aria-hidden="true"></i> <i class="fa fa-star-o"
													aria-hidden="true"></i> </span>
										</label>
									</li>
									<li>
										<input type="checkbox" class="filled-in" id="lr3" />
										<label for="lr3"> <span class="list-rat-ch"> <span>3.0</span> <i
													class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
													aria-hidden="true"></i> <i class="fa fa-star"
													aria-hidden="true"></i> <i class="fa fa-star-o"
													aria-hidden="true"></i> <i class="fa fa-star-o"
													aria-hidden="true"></i> </span>
										</label>
									</li>
									<li>
										<input type="checkbox" class="filled-in" id="lr4" />
										<label for="lr4"> <span class="list-rat-ch"> <span>2.0</span> <i
													class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
													aria-hidden="true"></i> <i class="fa fa-star-o"
													aria-hidden="true"></i> <i class="fa fa-star-o"
													aria-hidden="true"></i> <i class="fa fa-star-o"
													aria-hidden="true"></i> </span>
										</label>
									</li>
									<li>
										<input type="checkbox" class="filled-in" id="lr5" />
										<label for="lr5"> <span class="list-rat-ch"> <span>1.0</span> <i
													class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o"
													aria-hidden="true"></i> <i class="fa fa-star-o"
													aria-hidden="true"></i> <i class="fa fa-star-o"
													aria-hidden="true"></i> <i class="fa fa-star-o"
													aria-hidden="true"></i> </span>
										</label>
									</li>
								</ul>
							</form> <a href="#!" class="list-view-more-btn">view more</a>
						</div>
					</div>
					<!--==========End Sub Category Filter============-->
				</div>
			</div>
		</div>
	</div>
</section>

{{ partial "footer" . }}