{{ partial "header" . }}

{{ partial "top-search" .}}

<section class="dir-alp dir-pa-sp-top">
	<div class="container">
		<div class="row">
			<div class="dir-alp-tit">
				<h1>{{ .Params.listTitle }}</h1>
				<p>Lengkap beserta sambungan/fitting pipa PVC, pipa besi, pipa PPR, dll. Tersedia beragam merk dengan harga bersaing.</p>
			</div>
			<div style="height: 30px;"></div>
		</div>
		<div class="row">
			<div class="dir-alp-con">
				<div class="col-md-8 dir-alp-con-right">
					<div class="dir-alp-con-right-1">
						<div class="row">
							{{ range .Paginator.Pages }}
							<!--LISTINGS-->
							<div class="home-list-pop list-spac">
								<!--LISTINGS IMAGE-->
								<!-- <div class="col-md-3 list-ser-img"> <img src="{{ .Site.BaseURL }}/#" alt="" /> </div> -->
								<!--LISTINGS: CONTENT-->
								<div class="col-md-12 home-list-pop-desc inn-list-pop-desc"> <a
										href="{{ .Permalink }}">
										<h3>{{ .Title }}</h3>
									</a>
									<h4> Params Brand Here</h4>
									<p><b>Supplier: </b> Params Supplier Here</p>
									<div class="list-number">
										<ul>
											<li><img src="{{ .Site.BaseURL }}/images/icon/phone.png" alt="">Params SupplierPhone Here</li>
											<li><img src="{{ .Site.BaseURL }}/images/icon/mail.png" alt=""> Params SupplierEmail Here</li>
										</ul>
									</div> <span class="home-list-pop-rat">4.2</span>
									<div class="list-enqu-btn">
										<ul>
											<li><a href="#!"><i class="fa fa-whatsapp"
														aria-hidden="true"></i>Whatsapp</a> </li>
											<li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Telpon</a>
											</li>
											<li><a href="#!" data-dismiss="modal" data-toggle="modal"
													data-target="#list-quo"><i class="fa fa-usd" aria-hidden="true"></i>
													Minta Penawaran</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--LISTINGS END-->
							{{ end }}
						</div>
						
						<div class="row">
							<div class="list-pagenat">
								{{ template "_internal/pagination.html" . }}
							</div>
						</div>
					</div>
				</div>
				{{ partial "sidebar-ads1" . }}
			</div>
		</div>
	</div>
</section>

{{ partial "footer" . }}