<!-- FOOTER  -->
<footer id="footer">
    <div class="footer-info">
        <div class="container">
            <div class="col s12 center">
                <i class="fas fa-map-marker-alt"></i> Karangwaru St, Yogyakarta, Indonesia<br>
                <i class="fas fa-phone-square"></i> (+62)-000-123456 <br>
                <i class="fas fa-envelope"></i> halo@gromarttheme.com
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-footer-icon">
            <div class="col s12">
                <div class="footer-sosmed-icon ">
                    <div class="wrap-circle-sosmed ">
                        <a href="#">
                            <div class="circle-sosmed">
                                <i class="fab fa-instagram"></i>
                            </div>
                        </a>
                    </div>
                    <div class="wrap-circle-sosmed ">
                        <a href="#">
                            <div class="circle-sosmed">
                                <i class="fab fa-linkedin-in"></i>
                            </div>
                        </a>
                    </div>
                    <div class="wrap-circle-sosmed ">
                        <a href="#">
                            <div class="circle-sosmed">
                                <i class="fab fa-twitter"></i>
                            </div>
                        </a>
                    </div>
                    <div class="wrap-circle-sosmed ">
                        <a href="#">
                            <div class="circle-sosmed">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row copyright">
            2018 <span>GroMart</span>, All rights reserved.
        </div>
    </div>
</footer>
<!-- END FOOTER -->
<!-- Script -->
<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/materialize.min.js"></script>
<!-- Owl carousel -->
<script src="{{ .Site.BaseURL }}/lib/owlcarousel/owl.carousel.min.js"></script>
<!-- Magnific Popup core JS file -->
<script src="{{ .Site.BaseURL }}/lib/Magnific-Popup-master/dist/jquery.magnific-popup.js"></script>
<!-- Slick JS -->
<script src="{{ .Site.BaseURL }}/lib/slick/slick/slick.min.js"></script>
<!-- Custom script -->
<script src="{{ .Site.BaseURL }}/js/custom.js"></script>
</body>

</html>