<!-- FOOTER  -->
<footer id="footer">
    <div class="footer-info">
        <div class="container">
            <div class="col s12 center">
                <i class="fas fa-map-marker-alt"></i> Ruko Taman Tekno Widya BSD G No 5, Jl. Tekno Widya, Setu, South
                Tangerang City, Banten 15314<br>
                <i class="fas fa-phone-square"></i> 021-22796654 <br>
                <i class="fas fa-envelope"></i> info@proyekpro.com
                <p>
                    <a href="{{ .Site.BaseURL }}/blog" style="color: white;"> Blog</a> &bull;
                    <a href="{{ .Site.BaseURL }}/lowongan-kerja" style="color: white;"> Lowongan Kerja</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <!--  
        <div class="row row-footer-icon">
            <div class="col s12">
                <div class="footer-sosmed-icon ">
                    <div class="wrap-circle-sosmed ">
                        <a href="#">
                            <div class="circle-sosmed">
                                <i class="fab fa-instagram"></i>
                            </div>
                        </a>
                    </div>
                    <div class="wrap-circle-sosmed ">
                        <a href="#">
                            <div class="circle-sosmed">
                                <i class="fab fa-linkedin-in"></i>
                            </div>
                        </a>
                    </div>
                    <div class="wrap-circle-sosmed ">
                        <a href="#">
                            <div class="circle-sosmed">
                                <i class="fab fa-twitter"></i>
                            </div>
                        </a>
                    </div>
                    <div class="wrap-circle-sosmed ">
                        <a href="#">
                            <div class="circle-sosmed">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="row copyright">
            2020 &copy; <span>ProyekPro</span>, B2B Produk Konstruksi (Mekanikal dan Elektrikal) Dan Barang-Barang
            Teknik.
            <br>
            <a href="{{ .Site.BaseURL }}/sitemap.xml" style="color: white;">Sitemap</a> &bull; <a
                href="{{ .Site.BaseURL }}/kebijakan-privasi/" style="color: white;">Kebijakan Privasi</a> &bull; <a
                href="{{ .Site.BaseURL }}/persyaratan-layanan/" style="color: white;">Persyaratan Layanan</a>

        </div>
    </div>
</footer>
<!-- END FOOTER -->
<!-- Script -->
<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/materialize.min.js"></script>
{{if .IsHome}}
<!-- Owl carousel -->
<script src="{{ .Site.BaseURL }}/lib/owlcarousel/owl.carousel.min.js"></script>
<!-- Magnific Popup core JS file -->
<script src="{{ .Site.BaseURL }}/lib/Magnific-Popup-master/dist/jquery.magnific-popup.js"></script>
<!-- Slick JS -->
<script src="{{ .Site.BaseURL }}/lib/slick/slick/slick.min.js"></script>
<!-- Custom script -->
{{end}}
<script src="{{ .Site.BaseURL }}/js/custom.js"></script>
</body>

</html>