<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title}}</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}/images/proyekpro-favicon.png" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="{{ .Site.BaseURL }}/css/materialize.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/style.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="{{ .Site.BaseURL }}/css/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="{{ .Site.BaseURL }}/js/html5shiv.js"></script>
	<script src="{{ .Site.BaseURL }}/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <!--PRE LOADING-->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>