<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="HandheldFriendly" content="True">
    <link rel="icon" href="{{ .Site.BaseURL }}/favicon.ico" type="image/x-icon">
    <!-- CSS  -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/lib/font-awesome/web-fonts-with-css/css/fontawesome-all.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/materialize.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/normalize.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
    <!-- materialize icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{if .IsHome}}
    <!-- Owl carousel -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/lib/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/lib/owlcarousel/assets/owl.theme.default.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/lib/slick/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/lib/slick/slick/slick-theme.css">
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/lib/Magnific-Popup-master/dist/magnific-popup.css">
    {{end}}
</head>

<body id="homepage">
    <!-- BEGIN PRELOADING -->
    <div class="preloading">
        <div class="wrap-preload">
            <div class="cssload-loader"></div>
        </div>
    </div>
    <!-- END PRELOADING -->
    <!-- HEADER -->
    <header id="header">
        <div class="nav-wrapper container">
            <div class="header-logo">
                <a href="{{ .Site.BaseURL }}/#" class="nav-logo"><i class="fas fa-building"></i> ProyekPro</a>
            </div>
            <div class="header-menu-button">
                <a href="{{ .Site.BaseURL }}/#" data-activates="nav-mobile-category" class="button-collapse"
                    id="button-collapse-category">
                    <div class="cst-btn-menu">
                        <i class="fas fa-align-right"></i>
                    </div>
                </a>
            </div>
            <div class="header-icon-menu">
                <a href="{{ .Site.BaseURL }}/#" data-activates="nav-mobile-account" class="button-collapse"
                    id="button-collapse-account"><i class="far fa-user-circle"></i></a>
            </div>
            <div class="header-icon-menu cart-item-wrap">
                <a href="{{ .Site.BaseURL }}/shopping-cart.html">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-item">4</span>
                </a>
            </div>
        </div>
    </header>
    <!-- END HEADER -->
    <!-- SIDE NAV-->
    <nav>
        <!-- SIDENAV CATEGORY-->
        <ul id="nav-mobile-category" class="side-nav">
            <li class="sidenav-logo">
                <i class="fa fa-building" aria-hidden="true"></i> ProyekPro
            </li>
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <div class="collapsible-header">
                            <i class="fas fa-plus"></i>Dinding
                            <span><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Batu Bata</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Hebel</a>
                                </li>                                
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Batako</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Pasir</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Semen</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Mortar</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Beton Mix</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <div class="collapsible-header">
                            <i class="fas fa-plus"></i>Atap
                            <span><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Rangka Atap</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Genteng</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <div class="collapsible-header">
                            <i class="fas fa-plus"></i>Lantai
                            <span><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Paving Block</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Keramik</a>
                                </li>                                
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Batu Alam</a>
                                </li>                                
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <div class="collapsible-header">
                            <i class="fas fa-plus"></i>Pipa
                            <span><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-pipa-pvc-terbaru"><i
                                            class="fas fa-angle-right"></i>Pipa PVC</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-pipa-pvc-terbaru"><i
                                            class="fas fa-angle-right"></i>Talang Air</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-sambungan-pipa-pvc-terbaru"><i
                                            class="fas fa-angle-right"></i>Sambungan Pipa PVC</a>
                                </li>                                
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-pipa-ppr-terbaru"><i
                                            class="fas fa-angle-right"></i>Pipa PPR</a>
                                </li>                                
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-sambungan-pipa-ppr-terbaru"><i
                                            class="fas fa-angle-right"></i>Sambungan Pipa PPR</a>
                                </li>             
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Toren Air</a>
                                </li>           
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Septic Tank</a>
                                </li>                   
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <div class="collapsible-header">
                            <i class="fas fa-plus"></i>Dapur 
                            <span><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Kitchen Sink</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Kran Air</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-sambungan-pipa-pvc-terbaru"><i
                                            class="fas fa-angle-right"></i>Lemari Dapur</a>
                                </li>                                
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-pipa-ppr-terbaru"><i
                                            class="fas fa-angle-right"></i>Cooker Hood</a>
                                </li>                 
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>            
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <div class="collapsible-header">
                            <i class="fas fa-plus"></i>Kamar Mandi 
                            <span><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-pipa-pvc-terbaru"><i
                                            class="fas fa-angle-right"></i>Wastafel</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-sambungan-pipa-pvc-terbaru"><i
                                            class="fas fa-angle-right"></i>Urinal</a>
                                </li>                                
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-pipa-ppr-terbaru"><i
                                            class="fas fa-angle-right"></i>Closet</a>
                                </li>                 
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <div class="collapsible-header">
                            <i class="fas fa-plus"></i>Cat
                            <span><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Cat Tembok</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Cat Kayu</a>
                                </li>                                
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Cat Logam</a>
                                </li>                               
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Waterproof</a>
                                </li>                                
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <div class="collapsible-header">
                            <i class="fas fa-plus"></i>Jendela/Pintu
                            <span><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Kusen &amp; Pintu Kayu</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Kusen &amp; Pintu PVC</a>
                                </li>                               
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Kusen &amp; Pintu Alumunium</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Kunci, Slot &amp; Aksesoris</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <div class="collapsible-header">
                            <i class="fas fa-plus"></i>Kelistrikan
                            <span><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Kabel</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>MCB</a>
                                </li>                                
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                            class="fas fa-angle-right"></i>Panel Listrik</a>
                                </li>                                  
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ .Site.BaseURL }}/blog"><i class="fas fa-plus"></i> Blog</a>
            </li>
        </ul>
        <!-- END SIDENAV CATEGORY-->
        <!-- SIDENAV ACCOUNT-->
        <ul id="nav-mobile-account" class="side-nav">
            <li class="profile">
                <div class="li-profile-info">
                    <img src="{{ .Site.BaseURL }}/img/profile.jpg" alt="profile">
                    <h2>Jane Doe</h2>
                    <div class="emailprofile">Janedoe@maildomain.com</div>
                    <div class="balance">
                        Balance : <span>$1200</span>
                    </div>
                </div>
                <div class="bg-profile-li" style="background-image: url(img/bg-profile.jpg);">
                </div>
            </li>
            <li>
                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/homepage.html"><i
                        class="fas fa-home"></i>Home</a>
            </li>
            <li>
                <a href="{{ .Site.BaseURL }}/wish-list.html"><i class="fas fa-heart"></i>Wish list</a>
            </li>
            <li>
                <a href="{{ .Site.BaseURL }}/gallery.html"><i class="fas fa-camera-retro"></i>Gallery</a>
            </li>
            <li>
                <a href="{{ .Site.BaseURL }}/setting.html"><i class="fas fa-cog"></i>Setting</a>
            </li>
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <div class="collapsible-header">
                            <i class="fas fa-columns"></i>Pages <span><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/homepage.html"><i
                                            class="fas fa-angle-right"></i>Home</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/setting.html"><i
                                            class="fas fa-angle-right"></i>Setting</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/404.html"><i
                                            class="fas fa-angle-right"></i>404</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/login.html"><i
                                            class="fas fa-angle-right"></i>Sign In</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/signup.html"><i
                                            class="fas fa-angle-right"></i>Sign Up</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/single-page.html"><i
                                            class="fas fa-angle-right"></i>Single
                                        page</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/gallery.html"><i
                                            class="fas fa-angle-right"></i>Gallery</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/product-list.html"><i
                                            class="fas fa-angle-right"></i>Product
                                        List</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/wish-list.html"><i
                                            class="fas fa-angle-right"></i>Wish
                                        List</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/product-page.html"><i
                                            class="fas fa-angle-right"></i>Product
                                        Detail</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/shopping-cart.html"><i
                                            class="fas fa-angle-right"></i>Shopping Cart</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/checkout.html"><i
                                            class="fas fa-angle-right"></i>Checkout</a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/contact.html"><i
                                            class="fas fa-angle-right"></i>Contact
                                        Us</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ .Site.BaseURL }}/contact.html"><i class="fas fa-envelope"></i>Contact Us</a>
            </li>
            <li>
                <a href="{{ .Site.BaseURL }}/login.html"><i class="fas fa-sign-in-alt"></i>Sign in</a>
            </li>
            <li>
                <a href="{{ .Site.BaseURL }}/404.html"><i class="fas fa-sign-out-alt"></i>Sign Out</a>
            </li>
        </ul>
        <!-- END SIDENAV ACCOUNT-->
    </nav>
    <!-- END SIDENAV-->

    <script async src="https://cse.google.com/cse.js?cx=017301228293346466680:dp7xr1ltxti"></script>
    <div class="gcse-search"></div>