<!-- SIDE NAV-->
<nav>
    <!-- SIDENAV CATEGORY-->
    <ul id="nav-mobile-category" class="side-nav">
        <li class="sidenav-logo">
            <i class="fa fa-building" aria-hidden="true"></i> ProyekPro
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-plus"></i>Dinding
                        <span><i class="fas fa-caret-down"></i></span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Batu Bata</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Hebel</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Batako</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Pasir</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Semen</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Mortar</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Beton Mix</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-plus"></i>Atap
                        <span><i class="fas fa-caret-down"></i></span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Rangka Atap</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Genteng</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-plus"></i>Lantai
                        <span><i class="fas fa-caret-down"></i></span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Paving Block</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Keramik</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Batu Alam</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-plus"></i>Pipa
                        <span><i class="fas fa-caret-down"></i></span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-pipa-pvc-terbaru"><i
                                        class="fas fa-angle-right"></i>Pipa PVC</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-pipa-pvc-terbaru"><i
                                        class="fas fa-angle-right"></i>Talang Air</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue"
                                    href="{{ .Site.BaseURL }}/harga-sambungan-pipa-pvc-terbaru"><i
                                        class="fas fa-angle-right"></i>Sambungan Pipa PVC</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-pipa-ppr-terbaru"><i
                                        class="fas fa-angle-right"></i>Pipa PPR</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue"
                                    href="{{ .Site.BaseURL }}/harga-sambungan-pipa-ppr-terbaru"><i
                                        class="fas fa-angle-right"></i>Sambungan Pipa PPR</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Toren Air</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Septic Tank</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-plus"></i>Dapur
                        <span><i class="fas fa-caret-down"></i></span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Kitchen Sink</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Kran Air</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue"
                                    href="{{ .Site.BaseURL }}/harga-sambungan-pipa-pvc-terbaru"><i
                                        class="fas fa-angle-right"></i>Lemari Dapur</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-pipa-ppr-terbaru"><i
                                        class="fas fa-angle-right"></i>Cooker Hood</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-plus"></i>Kamar Mandi
                        <span><i class="fas fa-caret-down"></i></span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-pipa-pvc-terbaru"><i
                                        class="fas fa-angle-right"></i>Wastafel</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue"
                                    href="{{ .Site.BaseURL }}/harga-sambungan-pipa-pvc-terbaru"><i
                                        class="fas fa-angle-right"></i>Urinal</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/harga-pipa-ppr-terbaru"><i
                                        class="fas fa-angle-right"></i>Closet</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-plus"></i>Cat
                        <span><i class="fas fa-caret-down"></i></span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Cat Tembok</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Cat Kayu</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Cat Logam</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Waterproof</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-plus"></i>Jendela/Pintu
                        <span><i class="fas fa-caret-down"></i></span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Kusen &amp; Pintu Kayu</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Kusen &amp; Pintu PVC</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Kusen &amp; Pintu Alumunium</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Kunci, Slot &amp; Aksesoris</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="fas fa-plus"></i>Kelistrikan
                        <span><i class="fas fa-caret-down"></i></span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Kabel</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>MCB</a>
                            </li>
                            <li>
                                <a class="waves-effect waves-blue" href="{{ .Site.BaseURL }}/"><i
                                        class="fas fa-angle-right"></i>Panel Listrik</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/blog"><i class="fas fa-plus"></i> Blog</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/lowongan-kerja/"><i class="fas fa-plus"></i> Lowongan Kerja</a>
        </li>
    </ul>
    <!-- END SIDENAV CATEGORY-->
</nav>
<!-- END SIDENAV-->