<!-- TESTIMONIAL  -->
<div class="section testimonial">
    <div class="testimonial-wrap">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="section-title">
                        <span class="theme-secondary-color">CUSTOMER</span> REVIEWS
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="wrap-item-testimonial">
                    <div id="testimonial-item" class="owl-carousel">
                        <!-- item -->
                        <div class="item">
                            <div class="item-testimonial">
                                <div class="client-info">
                                    <div class="client-img">
                                        <img src="img/profile2.jpg" alt="profile">
                                    </div>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <div class="client-content">
                                    <p>
                                        Best Service, Good Luck With Sale!
                                    </p>
                                    <div class="client-title">
                                        <h4>John Doe</h4>
                                        <h5>Photographer</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end item -->
                        <!-- item -->
                        <div class="item">
                            <div class="item-testimonial">
                                <div class="client-info">
                                    <div class="client-img">
                                        <img src="img/profile3.jpg" alt="profile">
                                    </div>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <div class="client-content">
                                    <p>
                                        Best place and fast respond, Thank You!
                                    </p>
                                    <div class="client-title">
                                        <h4>Manna Doe</h4>
                                        <h5>Traveller</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end item -->
                        <!-- item -->
                        <div class="item">
                            <div class="item-testimonial">
                                <div class="client-info">
                                    <div class="client-img">
                                        <img src="img/profile4.jpg" alt="profile">
                                    </div>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <div class="client-content">
                                    <p>
                                        Good Product, I like this..
                                    </p>
                                    <div class="client-title">
                                        <h4>Jeff Doe</h4>
                                        <h5>Entrepreneur</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-testimonial"></div>
</div>
<!-- END TESTIMONIAL  -->