{{ partial "header" . }}

<!-- CONTENT -->
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col s12" style="text-align: justify;">
                <h5 style="text-align: center;">Error 404, Halaman Tidak Ditemukan!</h5>
                <p style="text-align: center;">
                    Silahkan mengunjungi halaman lainnya atau kembali ke <a href="{{ .Site.BaseURL }}">beranda</a></p>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->

{{ partial "footer" . }}