{{ partial "header" . }}

<!--BANNER AND SEARCH BOX-->
<section class="i4-header">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="dir-ho-tl">
					<ul>
						<li>
							<a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}/images/proyekpro-logo.png"
									alt=""> </a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="dir-ho-tr">
					<ul>
						<li><a href="register.html">Terlaris</a> </li>
						<li><a href="login.html">Harga Pipa PVC</a> </li>
						<li>
							<a href="db-listing-add.html">
								<i class="fa fa-plus" aria-hidden="true"></i> Add Listing
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container dir-ho-t-sp">
		<div class="row">
			<div class="dir-hr1 dir-cat-search">
				<div class="dir-ho-t-tit">
					<h1>Cari Alat Teknik, Spare Part,<br> Barang Konstruksi</h1>
					<p>Temukan beragam kebutuhan untuk proyek anda<br> Cek Harga Di ProyekPro Aja!</p>
				</div>
				<script async src="https://cse.google.com/cse.js?cx=017301228293346466680:dp7xr1ltxti"></script>
				<div class="gcse-search"></div>
			</div>
			<div class="h4-ser">
				<div class="com-title">
					<h2>Find your <span>Services</span></h2>
					<p>Explore some of the best business from around the world from our partners and friends.</p>
				</div>
				<div class="dir-hli">
					<ul>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/15.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Hotels & Resorts <span class="dir-ho-cat">Show All (940)</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list-grid.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/13.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Hospitals <span class="dir-ho-cat">Show All (174)</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/9.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Transportation <span class="dir-ho-cat">Show All (624)</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list-grid.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/12.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Property <span class="dir-ho-cat">Show All (960)</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/2.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Automobilers <span class="dir-ho-cat">Show All (745)</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list-grid.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/6.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Electricals <span class="dir-ho-cat">Show All (865)</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/16.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Education <span class="dir-ho-cat">Show All (935)</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list-grid.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/8.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Sports <span class="dir-ho-cat">Show All (361)</span></h4>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!--TOP SEARCH SECTION-->
{{ partial "top-search" . }}
<!--TOP SEARCH SECTION END-->

<!--EXPLORE CITY LISTING-->
<section class="com-padd com-padd-redu-top">
	<div class="container">
		<div class="row">
			<div class="com-title">
				<h2>Explore your <span>City Listings</span></h2>
				<p>Explore some of the best business from around the world from our partners and friends.</p>
			</div>
			<div class="col-md-6">
				<a href="list-lead.html">
					<div class="list-mig-like-com">
						<div class="list-mig-lc-img"> <img src="{{ .Site.BaseURL }}/images/listing/home.jpg" alt="" />
						</div>
						<div class="list-mig-lc-con">
							<div class="list-rat-ch list-room-rati"> <span>4.0</span> <i class="fa fa-star"
									aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i
									class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
									aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
							<h5>United States</h5>
							<p>21 Cities . 2045 Listings . 3648 Users</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="list-lead.html">
					<div class="list-mig-like-com">
						<div class="list-mig-lc-img"> <img src="{{ .Site.BaseURL }}/images/listing/home2.jpg" alt="" />
						</div>
						<div class="list-mig-lc-con list-mig-lc-con2">
							<h5>United Kingdom</h5>
							<p>18 Cities . 1454 Listings</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="list-lead.html">
					<div class="list-mig-like-com">
						<div class="list-mig-lc-img"> <img src="{{ .Site.BaseURL }}/images/listing/home3.jpg" alt="" />
						</div>
						<div class="list-mig-lc-con list-mig-lc-con2">
							<h5>Australia</h5>
							<p>14 Cities . 1895 Listings</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="list-lead.html">
					<div class="list-mig-like-com">
						<div class="list-mig-lc-img"> <img src="{{ .Site.BaseURL }}/images/listing/home4.jpg" alt="" />
						</div>
						<div class="list-mig-lc-con list-mig-lc-con2">
							<h5>Germany</h5>
							<p>12 Cities . 1260 Listings</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="list-lead.html">
					<div class="list-mig-like-com">
						<div class="list-mig-lc-img"> <img src="{{ .Site.BaseURL }}/images/listing/home1.jpg" alt="" />
						</div>
						<div class="list-mig-lc-con list-mig-lc-con2">
							<h5>India</h5>
							<p>24 Cities . 4152 Listings</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<!--ADD BUSINESS-->
<section class="com-padd quic-book-ser-full">
	<div class="quic-book-ser">
		<div class="quic-book-ser-inn">
			<div class="quic-book-ser-left">
				<div class="land-com-form">
					<h2>Quick service request</h2>
					<form>
						<ul>
							<li>
								<div class="row">
									<div class="input-field col s12">
										<input type="text" class="validate" required>
										<label>Name</label>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="input-field col s12">
										<input type="number" class="validate" required>
										<label>Phone number</label>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="input-field col s12">
										<input type="email" class="validate" required>
										<label>Email id</label>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="input-field col s12">
										<input type="text" id="select-category1" class="autocomplete auto-category">
										<label for="select-category1">Select your Service</label>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="input-field col s12">
										<input type="submit" value="Send Request">
									</div>
								</div>
							</li>
							<li>
								<p>Praesent felis velit, maximus at dapibus semper, fermentum sagittis diam. <a
										href="#">Privacy Policy</a></p>
							</li>
						</ul>
					</form>
				</div>
			</div>
			<div class="quic-book-ser-right">
				<div class="hom-cre-acc-left">
					<h3>What service do you need? <span>Business Directory</span></h3>
					<p>Tell us more about your requirements so that we can connect you to the right service
						provider.</p>
					<ul>
						<li> <img src="{{ .Site.BaseURL }}/images/icon/7.png" alt="">
							<div>
								<h5>Tell us more about your requirements</h5>
								<p>Imagine you have made your presence online through a local online directory, but
									your competitors have..</p>
							</div>
						</li>
						<li> <img src="{{ .Site.BaseURL }}/images/icon/5.png" alt="">
							<div>
								<h5>We connect with right service provider</h5>
								<p>Advertising your business to area specific has many advantages. For local
									businessmen, it is an opportunity..</p>
							</div>
						</li>
						<li> <img src="{{ .Site.BaseURL }}/images/icon/6.png" alt="">
							<div>
								<h5>Happy with our service</h5>
								<p>Your local business too needs brand management and image making. As you know the
									local market..</p>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</section>
<!--BEST THINGS-->
<section class="com-padd com-padd-redu-bot">
	<div class="container dir-hom-pre-tit">
		<div class="row">
			<div class="com-title">
				<h2>Top Trendings for <span>your City</span></h2>
				<p>Explore some of the best tips from around the world from our partners and friends.</p>
			</div>
			<div class="col-md-6">
				<div>
					<!--POPULAR LISTINGS-->
					<div class="home-list-pop">
						<!--POPULAR LISTINGS IMAGE-->
						<div class="col-md-3"> <img src="{{ .Site.BaseURL }}/images/services/tr1.jpg" alt="" />
						</div>
						<!--POPULAR LISTINGS: CONTENT-->
						<div class="col-md-9 home-list-pop-desc"> <a href="automobile-listing-details.html">
								<h3>Import Motor America</h3>
							</a>
							<h4>Express Avenue Mall, Santa Monica</h4>
							<p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p> <span
								class="home-list-pop-rat">4.2</span>
							<div class="hom-list-share">
								<ul>
									<li><a href="#!"><i class="fa fa-bar-chart" aria-hidden="true"></i> 52</a> </li>
									<li><a href="#!"><i class="fa fa-heart-o" aria-hidden="true"></i> 32</a> </li>
									<li><a href="#!"><i class="fa fa-eye" aria-hidden="true"></i> 420</a> </li>
									<li><a href="#!"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--POPULAR LISTINGS-->
					<div class="home-list-pop">
						<!--POPULAR LISTINGS IMAGE-->
						<div class="col-md-3"> <img src="{{ .Site.BaseURL }}/images/services/tr2.jpg" alt="" />
						</div>
						<!--POPULAR LISTINGS: CONTENT-->
						<div class="col-md-9 home-list-pop-desc"> <a href="property-listing-details.html">
								<h3>Luxury Property</h3>
							</a>
							<h4>Express Avenue Mall, New York</h4>
							<p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p> <span
								class="home-list-pop-rat">4.2</span>
							<div class="hom-list-share">
								<ul>
									<li><a href="#!"><i class="fa fa-bar-chart" aria-hidden="true"></i> 52</a> </li>
									<li><a href="#!"><i class="fa fa-heart-o" aria-hidden="true"></i> 32</a> </li>
									<li><a href="#!"><i class="fa fa-eye" aria-hidden="true"></i> 420</a> </li>
									<li><a href="#!"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--POPULAR LISTINGS-->
					<div class="home-list-pop">
						<!--POPULAR LISTINGS IMAGE-->
						<div class="col-md-3"> <img src="{{ .Site.BaseURL }}/images/services/tr3.jpg" alt="" />
						</div>
						<!--POPULAR LISTINGS: CONTENT-->
						<div class="col-md-9 home-list-pop-desc"> <a href="shop-listing-details.html">
								<h3>Spicy Supermarket Shop</h3>
							</a>
							<h4>Express Avenue Mall, Chicago</h4>
							<p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p> <span
								class="home-list-pop-rat">4.2</span>
							<div class="hom-list-share">
								<ul>
									<li><a href="#!"><i class="fa fa-bar-chart" aria-hidden="true"></i> 52</a> </li>
									<li><a href="#!"><i class="fa fa-heart-o" aria-hidden="true"></i> 32</a> </li>
									<li><a href="#!"><i class="fa fa-eye" aria-hidden="true"></i> 420</a> </li>
									<li><a href="#!"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--POPULAR LISTINGS-->
					<div class="home-list-pop">
						<!--POPULAR LISTINGS IMAGE-->
						<div class="col-md-3"> <img src="{{ .Site.BaseURL }}/images/services/s4.jpg" alt="" />
						</div>
						<!--POPULAR LISTINGS: CONTENT-->
						<div class="col-md-9 home-list-pop-desc"> <a href="list-lead.html">
								<h3>Packers and Movers</h3>
							</a>
							<h4>Express Avenue Mall, Toronto</h4>
							<p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p> <span
								class="home-list-pop-rat">4.2</span>
							<div class="hom-list-share">
								<ul>
									<li><a href="#!"><i class="fa fa-bar-chart" aria-hidden="true"></i> 52</a> </li>
									<li><a href="#!"><i class="fa fa-heart-o" aria-hidden="true"></i> 32</a> </li>
									<li><a href="#!"><i class="fa fa-eye" aria-hidden="true"></i> 420</a> </li>
									<li><a href="#!"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div>
					<!--POPULAR LISTINGS-->
					<div class="home-list-pop">
						<!--POPULAR LISTINGS IMAGE-->
						<div class="col-md-3"> <img src="{{ .Site.BaseURL }}/images/services/s5.jpg" alt="" />
						</div>
						<!--POPULAR LISTINGS: CONTENT-->
						<div class="col-md-9 home-list-pop-desc"> <a href="list-lead.html">
								<h3>Tour and Travels</h3>
							</a>
							<h4>Express Avenue Mall, Los Angeles</h4>
							<p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p> <span
								class="home-list-pop-rat">4.2</span>
							<div class="hom-list-share">
								<ul>
									<li><a href="#!"><i class="fa fa-bar-chart" aria-hidden="true"></i> 52</a> </li>
									<li><a href="#!"><i class="fa fa-heart-o" aria-hidden="true"></i> 32</a> </li>
									<li><a href="#!"><i class="fa fa-eye" aria-hidden="true"></i> 420</a> </li>
									<li><a href="#!"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--POPULAR LISTINGS-->
					<div class="home-list-pop">
						<!--POPULAR LISTINGS IMAGE-->
						<div class="col-md-3"> <img src="{{ .Site.BaseURL }}/images/services/s6.jpg" alt="" />
						</div>
						<!--POPULAR LISTINGS: CONTENT-->
						<div class="col-md-9 home-list-pop-desc"> <a href="list-lead.html">
								<h3>Andru Modular Kitchen</h3>
							</a>
							<h4>Express Avenue Mall, San Diego</h4>
							<p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p> <span
								class="home-list-pop-rat">4.2</span>
							<div class="hom-list-share">
								<ul>
									<li><a href="#!"><i class="fa fa-bar-chart" aria-hidden="true"></i> 52</a> </li>
									<li><a href="#!"><i class="fa fa-heart-o" aria-hidden="true"></i> 32</a> </li>
									<li><a href="#!"><i class="fa fa-eye" aria-hidden="true"></i> 420</a> </li>
									<li><a href="#!"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--POPULAR LISTINGS-->
					<div class="home-list-pop">
						<!--POPULAR LISTINGS IMAGE-->
						<div class="col-md-3"> <img src="{{ .Site.BaseURL }}/images/services/s7.jpg" alt="" />
						</div>
						<!--POPULAR LISTINGS: CONTENT-->
						<div class="col-md-9 home-list-pop-desc"> <a href="list-lead.html">
								<h3>Rute Skin Care & Treatment</h3>
							</a>
							<h4>Express Avenue Mall, Toronto</h4>
							<p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p> <span
								class="home-list-pop-rat">4.2</span>
							<div class="hom-list-share">
								<ul>
									<li><a href="#!"><i class="fa fa-bar-chart" aria-hidden="true"></i> 52</a> </li>
									<li><a href="#!"><i class="fa fa-heart-o" aria-hidden="true"></i> 32</a> </li>
									<li><a href="#!"><i class="fa fa-eye" aria-hidden="true"></i> 420</a> </li>
									<li><a href="#!"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--POPULAR LISTINGS-->
					<div class="home-list-pop mar-bot-red-0">
						<!--POPULAR LISTINGS IMAGE-->
						<div class="col-md-3"> <img src="{{ .Site.BaseURL }}/images/services/s8.jpg" alt="" />
						</div>
						<!--POPULAR LISTINGS: CONTENT-->
						<div class="col-md-9 home-list-pop-desc"> <a href="list-lead.html">
								<h3>Health and Fitness</h3>
							</a>
							<h4>Express Avenue Mall, San Diego</h4>
							<p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p> <span
								class="home-list-pop-rat">4.2</span>
							<div class="hom-list-share">
								<ul>
									<li><a href="#!"><i class="fa fa-bar-chart" aria-hidden="true"></i> 52</a> </li>
									<li><a href="#!"><i class="fa fa-heart-o" aria-hidden="true"></i> 32</a> </li>
									<li><a href="#!"><i class="fa fa-eye" aria-hidden="true"></i> 420</a> </li>
									<li><a href="#!"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--MOBILE APP-->
<section class="web-app com-padd">
	<div class="container">
		<div class="row">
			<div class="col-md-6 web-app-img"> <img src="{{ .Site.BaseURL }}/images/mobile.png" alt="" /> </div>
			<div class="col-md-6 web-app-con">
				<h2>Looking for the Best Service Provider? <span>Get the App!</span></h2>
				<ul>
					<li><i class="fa fa-check" aria-hidden="true"></i> Find nearby listings</li>
					<li><i class="fa fa-check" aria-hidden="true"></i> Easy service enquiry</li>
					<li><i class="fa fa-check" aria-hidden="true"></i> Listing reviews and ratings</li>
					<li><i class="fa fa-check" aria-hidden="true"></i> Manage your listing, enquiry and reviews</li>
				</ul> <span>We'll send you a link, open it on your phone to download the app</span>
				<form>
					<ul>
						<li>
							<input type="text" placeholder="+01" /> </li>
						<li>
							<input type="number" placeholder="Enter mobile number" /> </li>
						<li>
							<input type="submit" value="Get App Link" /> </li>
					</ul>
				</form>
				<a href="#"><img src="{{ .Site.BaseURL }}/images/android.png" alt="" /> </a>
				<a href="#"><img src="{{ .Site.BaseURL }}/images/apple.png" alt="" /> </a>
			</div>
		</div>
	</div>
</section>

{{ partial "footer" . }}