{{ partial "header" . }}

<!--BANNER AND SEARCH BOX-->
<section class="i4-header">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="dir-ho-tl">
					<ul>
						<li>
							<a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}/images/proyekpro-logo.png"
									alt=""> </a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="dir-ho-tr">
					<ul>
						<li><a href="register.html">Terlaris</a> </li>
						<li><a href="login.html">Harga Pipa PVC</a> </li>
						<li>
							<a href="db-listing-add.html">
								<i class="fa fa-plus" aria-hidden="true"></i> Add Listing
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container dir-ho-t-sp">
		<div class="row">
			<div class="dir-hr1 dir-cat-search">
				<div class="dir-ho-t-tit">
					<h1>Cari Bahan Bangunan, <br>Elektrikal, Plumbing, dll?</h1>
					<p>Temukan beragam kebutuhan untuk proyek anda<br> Cek Harga Di ProyekPro Aja!</p>
				</div>
				<script async src="https://cse.google.com/cse.js?cx=017301228293346466680:dp7xr1ltxti"></script>
				<div class="gcse-search"></div>
			</div>
			<div class="h4-ser">
				<div class="com-title">
					<h2><span>Direktori Bahan Bangunan Lengkap</span></h2>
					<p>Kami akan membantu anda menemukan kebutuhan proyek anda.</p>
				</div>
				<div class="dir-hli">
					<ul>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="#">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/15.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Dinding<span class="dir-ho-cat">Lihat</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="#">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/13.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Atap, Genteng &amp; Plafon <span class="dir-ho-cat">Lihat</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/9.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Lantai <span class="dir-ho-cat">Lihat</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list-grid.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/12.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Pipa Dan Sambungan <span class="dir-ho-cat">Lihat</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/2.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Listrik, Lampu &amp; Accs<span class="dir-ho-cat">Lihat</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list-grid.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/6.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Cat &amp; Anti Bocor<span class="dir-ho-cat">Lihat</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/16.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Pintu, Jendela &amp; Kusen<span class="dir-ho-cat">Lihat</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list-grid.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/8.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Closet &amp; Wastafel <span class="dir-ho-cat">Lihat</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list-grid.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/8.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Kran Air &amp; Shower <span class="dir-ho-cat">Lihat</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list-grid.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/8.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Pagar &amp; Kanopi <span class="dir-ho-cat">Lihat</span></h4>
									</div>
								</div>
							</a>
						</li>
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list-grid.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/8.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Kitchen Set <span class="dir-ho-cat">Lihat</span></h4>
									</div>
								</div>
							</a>
						</li>						
						<!--=====LISTINGS======-->
						<li class="col-md-3 col-sm-6">
							<a href="list-grid.html">
								<div class="dir-hli-5">
									<div class="dir-hli-1">
										<div class="dir-hli-3"><img src="{{ .Site.BaseURL }}/images/hci1.png" alt="">
										</div>
										<div class="dir-hli-4"> </div> <img
											src="{{ .Site.BaseURL }}/images/services/8.jpg" alt="">
									</div>
									<div class="dir-hli-2">
										<h4>Terpal &amp; Tenda <span class="dir-ho-cat">Lihat</span></h4>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!--TOP SEARCH SECTION-->
{{ partial "top-search" . }}
<!--TOP SEARCH SECTION END-->

{{ partial "footer" . }}