{{ partial "header" . }}

<!-- MAIN SLIDER -->
<div class="main-slider" data-indicators="true">
	<!-- <div class="carousel carousel-slider " data-indicators="true">
		<a class="carousel-item"><img src="img/slide2.jpg" alt="slider"></a>
		<a class="carousel-item"><img src="img/slide3.jpg" alt="slider"></a>
	</div> -->

	<img src="https://placehold.it/1600x300" alt="">
</div>
<!-- END MAIN SLIDER -->
<!-- CATEGORY -->
<div class="section home-category">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="section-title">
					<span class="theme-secondary-color">Temukan</span> Kebutuhan Proyek Anda
				</div>
			</div>
		</div>
		<div class="row icon-service">
			<div class="col s4 m4 l2">
				<div class="content">
					<div class="in-content">
						<div class="in-in-content">
							<img src="img/c-diet.png" alt="category">
							<h5>Bata &amp; Semen</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col s4 m4 l2">
				<div class="content">
					<div class="in-content">
						<div class="in-in-content">
							<img src="img/c-groceries.png" alt="category">
							<h5>Pipa PVC</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col s4 m4 l2">
				<div class="content">
					<div class="in-content">
						<div class="in-in-content">
							<img src="img/c-apple.png" alt="category">
							<h5>Cat Tembok, Kayu &amp; Besiz</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col s4 m4 l2">
				<div class="content">
					<div class="in-content">
						<div class="in-in-content">
							<img src="img/c-asparagus.png" alt="category">
							<h5>New Product</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col s4 m4 l2">
				<div class="content">
					<div class="in-content">
						<div class="in-in-content">
							<img src="img/c-salad.png" alt="category">
							<h5>Vegetable</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col s4 m4 l2">
				<div class="content">
					<div class="in-content">
						<div class="in-in-content">
							<img src="img/c-turkey.png" alt="category">
							<h5>Fast Food</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END CATEGORY -->
<!-- POPULER SEARCH -->
<div class="section populer-search">
	<div class="container">
		<div class="row row-title">
			<div class="col s12">
				<div class="section-title">
					<span class="theme-secondary-color">Paling</span> Banyak Dicari
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="list-tag-word">
					<a class="tag-word">Harga Pipa PVC</a>
					<a class="tag-word">Harga Pipa Besi</a>
					<a class="tag-word">Harga Cat Tembok</a>
					<a class="tag-word">Harga Lantai Vinyl</a>
					<a class="tag-word">Jasa Pembuatan Kitchen Set</a>
					<a class="tag-word">Jasa Renovasi Rumah</a>
					<a class="tag-word">Jasa Las Pagar</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END POPULER SEARCH -->
<!-- FEATURED PRODUCT -->
<div class="section product-item si-featured">
	<div class="container">
		<div class="row row-title">
			<div class="col s12">
				<div class="section-title">
					<span class="theme-secondary-color">Produk </span> Terlaris
				</div>
			</div>
		</div>
		<div class="row slick-product">
			<div class="col s12">
				<div id="featured-product" class="featured-product">
					<!-- Product item-->
					<div>
						<div class="col-slick-product">
							<div class="box-product">
								<div class="bp-top">
									<div class="product-list-img">
										<div class="pli-one">
											<div class="pli-two">
												<img src="img/broccoli.jpg" alt="img">
											</div>
										</div>
									</div>
									<h5><a href="#">Broccoli</a></h5>
									<div class="item-info">Broccoli - 2~3 pcs</div>
									<div class="price">
										$5 <span>/500 gram</span>
									</div>
									<div class="stock-item">Only available 4 item</div>
								</div>
								<div class="bp-bottom">
									<button class="btn button-add-cart">BUY</button>
								</div>
							</div>
						</div>
					</div>
					<!-- End Product item-->
					<!-- Product item-->
					<div>
						<div class="col-slick-product">
							<div class="box-product">
								<div class="bp-top">
									<div class="product-list-img">
										<div class="pli-one">
											<div class="pli-two">
												<img src="img/cabbage_PNG8821.jpg" alt="img">
											</div>
										</div>
									</div>
									<h5><a href="#">Cabbage</a></h5>
									<div class="item-info">Cabbage 1 pcs</div>
									<div class="price">
										$6 <span>/500 gram</span>
									</div>
									<div class="stock-item">Only available 4 item</div>
								</div>
								<div class="bp-bottom">
									<button class="btn button-add-cart">BUY</button>
								</div>
							</div>
						</div>
					</div>
					<!-- End Product item-->
					<!-- Product item-->
					<div>
						<div class="col-slick-product">
							<div class="box-product">
								<div class="bp-top">
									<div class="product-list-img">
										<div class="pli-one">
											<div class="pli-two">
												<img src="img/carrot_PNG4978.jpg" alt="img">
											</div>
										</div>
									</div>
									<h5><a href="#">Carrot</a></h5>
									<div class="item-info">Fresh Carrot</div>
									<div class="price">$5</div>
									<div class="stock-item">Ready stock</div>
								</div>
								<div class="bp-bottom">
									<button class="btn button-add-cart">BUY</button>
								</div>
							</div>
						</div>
					</div>
					<!-- End Product item-->
					<!-- Product item-->
					<div>
						<div class="col-slick-product">
							<div class="box-product">
								<div class="bp-top">
									<div class="product-list-img">
										<div class="pli-one">
											<div class="pli-two">
												<img src="img/corn_PNG5284.jpg" alt="img">
											</div>
										</div>
									</div>
									<h5><a href="#">Corn</a></h5>
									<div class="item-info">Corn - 2~5 pcs</div>
									<div class="price">
										$7 <span>/500 gram</span>
									</div>
									<div class="stock-item"></div>
								</div>
								<div class="bp-bottom">
									<button class="btn button-add-cart">BUY</button>
								</div>
							</div>
						</div>
					</div>
					<!-- End Product item-->
					<!-- Product item-->
					<div>
						<div class="col-slick-product">
							<div class="box-product">
								<div class="bp-top">
									<div class="product-list-img">
										<div class="pli-one">
											<div class="pli-two">
												<img src="img/pineapple_PNG2759.jpg" alt="img">
											</div>
										</div>
									</div>
									<h5><a href="#">Pinneapple</a></h5>
									<div class="item-info">Fruit ~ Pinneapple</div>
									<div class="price">
										$10 <span></span>
									</div>
									<div class="stock-item"></div>
								</div>
								<div class="bp-bottom">
									<button class="btn button-add-cart">BUY</button>
								</div>
							</div>
						</div>
					</div>
					<!-- End Product item-->
					<!-- Product item-->
					<div>
						<div class="col-slick-product">
							<div class="box-product">
								<div class="bp-top">
									<div class="product-list-img">
										<div class="pli-one">
											<div class="pli-two">
												<img src="img/blackberry_PNG46.jpg" alt="img">
											</div>
										</div>
									</div>
									<h5><a href="#">Blackberry</a></h5>
									<div class="item-info">Fresh Blackberry</div>
									<div class="price">
										$10 <span></span>
									</div>
									<div class="stock-item"></div>
								</div>
								<div class="bp-bottom">
									<button class="btn button-add-cart">BUY</button>
								</div>
							</div>
						</div>
					</div>
					<!-- End Product item-->
					<!-- Product item-->
					<div>
						<div class="col-slick-product">
							<div class="box-product">
								<div class="bp-top">
									<div class="product-list-img">
										<div class="pli-one">
											<div class="pli-two">
												<img src="img/potato_PNG7093.jpg" alt="img">
											</div>
										</div>
									</div>
									<h5><a href="#">Potato</a></h5>
									<div class="item-info">Potato - 2~5 pcs</div>
									<div class="price">
										$7 <span>/500 gram</span>
									</div>
									<div class="stock-item">Available</div>
								</div>
								<div class="bp-bottom">
									<button class="btn button-add-cart">BUY</button>
								</div>
							</div>
						</div>
					</div>
					<!-- End Product item-->
				</div>
				<div class="more-product-list">
					<a class="more-btn" href="#">See More ></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END FEATURED PRODUCT -->
<!-- PROMO -->
<div class="section promo">
	<div class="container">
		<div class="col s12">
			<img src="img/promo.jpg" alt="promo">
		</div>
	</div>
</div>
<!-- END PROMO -->

{{ partial "footer" . }}